DATABASE_URL="postgresql://postgres.[project-ref]:[password]@aws-0-eu-west-3.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[project-ref]:[password]@aws-0-eu-west-3.pooler.supabase.com:5432/postgres"

AUTH_SECRET=""
AUTH_URL="http://localhost:3010"

SUPER_ADMIN_INBOUND_SECRET=""
